.body {
    background-color: #290000;
    height: 479px;
    width: 1366px;
}
.text{
    width: 400px;
    height: 243px;
    margin-left: 260px;
    padding-top: 100px;
    font-family: Georgia;
    color: white;
    font-weight: lighter;
    float: left;
}
.textHeading{
    font-size: 40pt;
    padding-bottom: 32px;
}
.text1{
    font-size: 12pt;
    color: #979797;
}
button{
    margin-top: 32px;
    width: 142px;
    height: 36px;
    border-radius: 9px;
    background-color: #76c38f; 
    color: white;
    font-size: 11pt;
    font-weight: lighter;
    border: none;
}
.circle{
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: #333333;
    border-radius: 50%;
    border: 25px solid #6b6b6b;
    margin-left: 700px;
    
}
.size{
    color: white;
    font-size: 26pt;
    font-family: Georgia;
    text-align: center;
    line-height: 0;
    margin-top: 182px;
}