.bottomMenu{
    background-color: #303030;
    height: 390px;
    border-top: 1px groove #000000;
}
.copyRight{
    height: 64px;
    background-color: #2B2B2B;
    color: #979797;
    padding-top: 24px;
}
.leftCopyRight{
    font-family: Georgia;
    font-size: 13pt;
    float: left;
    margin-left: 210px;
}
.template{
    padding-left: 963px;
    font-family: Georgia;
    font-size: 13pt;
}
.firstsection, .secondsection, .thirdsection, .forthsection{
    width: 225px;
    height: 289px;
    margin-left: 210px;
    float: left;
}
.blogName{
    font-family: Georgia;
    font-size: 16pt;
    color: white;
    margin-bottom: 35px;
    margin-top: 39px;
}
.postTitle{
    font-family: Georgia;
    font-size: 16pt;
    color: #76c38f;
    font-weight: bold;
}
.admin{
    font-family: Georgia;
    font-size: 10pt;
    color: #76c38f;
    float: left;
}
.domainname{
    color: #979797;
    font-family: Georgia;
    font-size: 10pt;
}
.friday{
    color: #979797;
    font-family: Georgia;
    font-size: 10pt;
}
.text3{
    color: #979797;
    font-family: Georgia;
    font-size: 13pt;
}
.readMore, .line{
    font-family: Georgia;
    font-size: 13pt;
    color: #76c38f;
}
.line{
    line-height: 30px;
    border-bottom: 2px solid #404040;
}
.secondsection, .thirdsection, .forthsection{
    margin-left: 20px;
}
.namehere1, .namehere2{
    font-family: Georgia;
    font-size: 12pt;
    color: #979797;
}
.thirdsection{
    width: 225px;
}
.namehere1 {
    margin-bottom: 20px;
}
.name, .email, .subject, .message{
    width: 205px;
    height: 35px;
    background-color: #222222;
    border: none;
    border-radius: 9px;
    color: #989898;
    font-family: Georgia;
    font-size: 12pt;
    margin-bottom: 20px;
    padding-left: 20px;
    outline: none;
border: none;
}
.button2{
    width: 75px;
    height: 36px;
    border-radius: 9px;
    border: none;
    background-color: #76c38f;
    color: #303030;
    font-family: Georgia;
    font-size: 12pt;
}
.greenlinks{
    color:#76c38f;
    text-decoration: none;
}
