.latestWork{
    height: 975px;
    background-color: #660000;
    margin-top: 40px;
    padding-left: 210px;
}
.serviceTitle, .serviceTitle1{
    width: 225px;
    height: 305px;
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-top: 65px;
}
.serviceTitle1{
    margin-left: 0;
}
.serviceTitle:hover,  .serviceTitle1:hover{
    background-color: #76c38f;
}
.serviceTitle:hover .box, .serviceTitle1:hover .box{
    background-color: white;
}
.serviceTitle:hover .size2, .serviceTitle1:hover .size2{
    background-color: white;
    color: #303030;
}
.serviceTitle:hover .title, .serviceTitle1:hover .title{
   color: white;
}
.serviceTitle:hover .serviceTitleText, .serviceTitle1:hover .serviceTitleText{
    color: white;
 }
.box{
    text-align: center;
    line-height: 0;
    margin-top: 182px;
    width: 120px;
    height: 120px;
    background-color: #333333;
    margin: 21px 0px 0px 52px;
}
.size2{
    color: white;
    font-size: 18px;
    font-family: Georgia;
    padding-top: 57px;
}
.title{
    font-size: 32px;
    color: #333333;
    font-family: Georgia;
    text-align: center;
    margin-top: 18px;
}
.serviceTitleText{
    color: #979797;
    font-size: 12px;
    font-family: Georgia;
    text-align: center;
    margin-top: 18px;
    width: 163px;
    height: 49px;
    padding-left: 33px;
}
.hr {
    color:  #333333;
    height: 2px;
}
.latestWorkSection{
    color: white;
    width: 256px;
    height: 49px;
    background-color: #333333;
}
.sizing{
    width: 100%;
    height: 410px;
    margin-bottom: 0;
}
.greyLine1{
    width: 351px;
    height: 25px;
    border-bottom: 3px solid #303030;
    float: left;
    /* margin-left: 20px; */
}
.middleText{
    width: 257px;
    height: 40px;
    border-radius: 9px;
    background-color: #303030;
    float: left;
    text-align: center;
    color: #ffffff;
    font-family: Georgia;
    font-size: 25pt;
    padding-top: 5px;
    margin-top: 5px;
}
.greyLine2{
    width: 351px;
    height: 25px;
    border-bottom: 3px solid #303030;
    float: left;
}
.lineBox{
    height: 111px;
    width: 1366px;
}
.theWholeBox{
    height: 190px;
    width: 1366px;
    margin-bottom: 30px;
}
.loremIpsum{
    float: left; 
    margin-right: 30px; 
}

.sizeOfBox{
    width: 290px;
    height: 190px;
    border: 3px solid white;
    /* border-left: 3px solid white;
    border-right: 3px solid white; */
    box-sizing: border-box;
    
}
.loremIpsumDolor{
    width:290px;
    height: 29px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
    background-color: #151515;
    box-sizing: border-box;
   
}
.size290{
    color: white;
    font-family: Georgia;
    font-size: 18px;
    text-align: center;
    background-color: #353535;
    height: 67px;
    padding-top: 93px;
    line-height: 0;
}
.loremIpsumDolor2{
    color: white;
    font-family: Georgia;
    font-size: 14px;
    text-align: center;
    background-color: #151515;
    height: 13px;
    padding-top: 12px;
    line-height: 0;
    
}
.sizeOfBox:hover{
    border: 3px solid #76C38F;
}
.sizeOfBox:hover .loremIpsumDolor2{
    background-color: #353535;
    color: transparent;
}
