.logoLine{
    height: 124px;
    color: #ffffff;
    background-color: #290000;
    width: 1366px;
    border-top: 3px solid #76c38f;
}
h1{
    font-family: Georgia;
    font-size: 28pt;
    padding-left: 105px;
    margin-top: 51px;
    margin-bottom: 0;
    line-height: 21px;
    font-weight: lighter;
}
h2{
    font-family: Georgia;
    font-size: 11pt;
    color: #979797;
    padding-left: 120px;
    margin-top: 2px;
    font-weight: lighter;
}
.logo{
    float: left;
}
.menuItem, .menuItem1{
    float: left;
    margin: 60px 15px 0px 0px;
    white-space: nowrap;
    padding-left: 0;
    font-family: Georgia;
    font-size: 13px;
}
.menuItem1{
    margin-left: 176px;
}
a{
    color: white;
    padding: 13px 20px; 
}

.menuLinks{
}
.menuLinks:link {
    color: #ffffff; 
    text-decoration: none;
}
.menuLinks:hover {
    background-color: #76c38f; 
    padding: 13px 20px; 
    border-radius: 9px;
    color: white;
}